<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Athiti:wght@400;500;700&family=IBM+Plex+Sans+Thai:wght@200;400&family=K2D:wght@300&family=Mitr:wght@200&family=Noto+Serif+Thai:wght@400;700&display=swap" rel="stylesheet">
<style>
    h1{
        font-family: 'Athiti', sans-serif;
    }
    div{
        font-family: 'Athiti', sans-serif;
    }
</style>
<br>
<h1 align="center">ติดต่อเรา | Contact</h1>
<br>
<div class="container">
    <div class="mb-3">
        <label for="name" class="form-label">ชื่อ-นามสกุล</label>
        <input type="text" class="form-control">
    </div>
    <div class="mb-3">
        <label for="tel" class="form-label">เบอร์โทรศัพท์</label>
        <input type="text" class="form-control">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">E-mail</label>
        <input type="email" class="form-control"placeholder="name@example.com">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">ข้อความ</label>
        <textarea class="form-control" rows="3"></textarea>
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">บันทึกข้อมูล</button>
      </div>
    
      <div class="container">
        <footer class="py-5">
          <div class="row">
            <div class="col-2">
              <h5>Section</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">Home</a></li>
                <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">FruitCake</a></li>
                <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">NormalCake</a></li>
                <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">ChocolateCake</a></li>
                <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">MiniCake</a></li>
                <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">FancyCake</a></li>
                <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">Contact</a></li>
              </ul>
            </div>
      
            <div class="col-2">
              <h5>Section</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">Home</a></li>
                <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">FruitCake</a></li>
                <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">NormalCake</a></li>
                <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">ChocolateCake</a></li>
                <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">MiniCake</a></li>
                <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">FancyCake</a></li>
                <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">Contact</a></li>
              </ul>
            </div>
      
            <div class="col-2">
              <h5>Section</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">Home</a></li>
                <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">FruitCake</a></li>
                <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">NormalCake</a></li>
                <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">ChocolateCake</a></li>
                <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">MiniCake</a></li>
                <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">FancyCake</a></li>
                <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">Contact</a></li>
              </ul>
            </div>
      
            <div class="col-4 offset-1">
              <form>
                <h5>Subscribe to our newsletter</h5>
                <p>Monthly digest of whats new and exciting from us.</p>
                <div class="d-flex w-100 gap-2">
                  <label for="newsletter1" class="visually-hidden">Email address</label>
                  <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
                  <button class="btn btn-primary" type="button">Subscribe</button>
                </div>
              </form>
            </div>
          </div>
      
          <div class="d-flex justify-content-between py-4 my-4 border-top">
            <p>&copy; 2021 Patchareeporn T.</p>
            <ul class="list-unstyled d-flex">
              <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"/></svg></a></li>
              <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"/></svg></a></li>
              <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg></a></li>
            </ul>
          </div>
        </footer>
      </div>
</div>