<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Athiti:wght@400;500;700&family=IBM+Plex+Sans+Thai:wght@200;400&family=K2D:wght@300&family=Mitr:wght@200&family=Noto+Serif+Thai:wght@400;700&display=swap" rel="stylesheet">
<style>
  p{
    font-family: 'Athiti', sans-serif;
  }
  button{
    font-family: 'Athiti', sans-serif;
  }
  section{
    font-family: 'Athiti', sans-serif;
  }
  small{
    font-family: 'Athiti', sans-serif;
  }
</style>
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">

    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">เค้กมินิมอล FancyCake</h1>
          <p class="lead text-muted">เค้กสูตรโฮมเมด ปรับปรุงสูตรจนอร่อยไม่เหมือนใครเค้กของเราหวานน้อย และคัดสรรวัตถุดิบจากธรรมชาติไม่มีสารเสริมและไขมันทรานส์ จึงมั่นใจได้ว่าคุณจะได้มอบของขวัญที่ดีที่สุด</p>
        </div>
      </div>
    </section>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card shadow-sm">
          <img src="https://scontent.fkdt1-1.fna.fbcdn.net/v/t39.30808-6/244368707_4646895088711125_8355698114660376247_n.jpg?_nc_cat=104&ccb=1-5&_nc_sid=a26aad&_nc_eui2=AeE2DdV2rIhQAsp9nIeCH_iw6SzYU4QbfBTpLNhThBt8FHTgcu6DkVTJNj3E7NgBAkvcHhgUkGswy7GdS3imTUer&_nc_ohc=bXjyYujepx0AX9powkM&_nc_ht=scontent.fkdt1-1.fna&oh=e58f6fa5ed868f95848c331e45c766ae&oe=61BC5625">

          <div class="card-body">
            <p class="card-text">เค้กกระเพราะเนื้อไข่ดาว</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">$ราคา 550 บาท</small>
             </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="https://scontent.fkdt1-1.fna.fbcdn.net/v/t39.30808-6/231238671_4456468411087128_8379880827019066297_n.jpg?_nc_cat=108&ccb=1-5&_nc_sid=a26aad&_nc_eui2=AeEg-CNWpYARBL_x_BncwvbS-YweqAjnUsn5jB6oCOdSybAs23OUfeVN7GV9SwF2NDxLZz71QHCpqmm3-Va64JbF&_nc_ohc=vGbK0vQGhKIAX-h71Zd&_nc_ht=scontent.fkdt1-1.fna&oh=8988388c9071f0b7432f7011255e884c&oe=61BC143E">

          <div class="card-body">
            <p class="card-text">เค้กนาฬิกา</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">$ราคา 750 บาท</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="https://scontent.fkdt1-1.fna.fbcdn.net/v/t39.30808-6/215349593_4383813868352583_1946139625366065716_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=a26aad&_nc_eui2=AeH1fEMgbe9yQc4uSkW-DDowjcl0uqzN1u2NyXS6rM3W7QVpXZnHq8bGax8LEIYK0vJYlK3SlZPc8rKuDtT6fGZb&_nc_ohc=izGyvF9cjE4AX_N2cVo&tn=KVS5SoajANyxm69Z&_nc_ht=scontent.fkdt1-1.fna&oh=dac547ae193315f9782b809d635f5b89&oe=61BBBE03">

          <div class="card-body">
            <p class="card-text">เค้กสเต็ก</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">$ราคา 890 บาท</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img src="https://scontent.fkdt1-1.fna.fbcdn.net/v/t39.30808-6/p960x960/217000544_4389866101080693_891778111622740081_n.jpg?_nc_cat=103&ccb=1-5&_nc_sid=a26aad&_nc_eui2=AeELOIV3d5yTmBCdoawJuBPyEqumDkwP8iESq6YOTA_yIWO9jP7XALfpW31bUaqAqjuqSBK9bLVyn7vLMVROoS9V&_nc_ohc=I4pWpsL0H9YAX_wGNn7&_nc_ht=scontent.fkdt1-1.fna&oh=ef8c1b83aef8256c43b24936e669b30e&oe=61BD1189">

          <div class="card-body">
            <p class="card-text">เค้กโซจูและเตาปิ้งย่าง</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">$ราคา 890 บาท</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="https://scontent.fkdt1-1.fna.fbcdn.net/v/t39.30808-6/216170542_4383813878352582_4909250753167307283_n.jpg?_nc_cat=105&ccb=1-5&_nc_sid=a26aad&_nc_eui2=AeGui5q_ay-KPKFUG5FdDIGQzh0A6Fs1pVfOHQDoWzWlV7AERIEJ0TH4BNYXqyfFvQ2MJiJgu2YS5A8SCsFFB_wS&_nc_ohc=vvy8WLkxnYQAX9axu5F&_nc_ht=scontent.fkdt1-1.fna&oh=bb7ebc612760c85a983b14bc451c9896&oe=61BBD98C">

          <div class="card-body">
            <p class="card-text">เค้กเนื้อสัตว์</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">$ราคา 890 บาท</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="https://scontent.fkdt1-1.fna.fbcdn.net/v/t39.30808-6/169137795_4372826876117949_5667067230309048925_n.jpg?_nc_cat=108&ccb=1-5&_nc_sid=a26aad&_nc_eui2=AeH68id5L_V8LQoc4-B2cqD_Y6-8lmQZ4x9jr7yWZBnjH-zdLZrSvc423q-9x_groZODyFJpQ93BAxu4AMv0mhBF&_nc_ohc=Xe4HgwSXYYQAX-uJoSw&tn=KVS5SoajANyxm69Z&_nc_ht=scontent.fkdt1-1.fna&oh=00_AT-o72G8Ki-12Vbz6KqxXgin9i8pR2lXlo2-n7WBMJcN1A&oe=61BD0DB4">

          <div class="card-body">
            <p class="card-text">เค้กแฮมเบอร์เกอร์</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">$ราคา 890 บาท</small>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col">
        <div class="card shadow-sm">
          <img src="https://scontent.fkdt1-1.fna.fbcdn.net/v/t1.6435-9/174743829_4143871789013460_1171881763196384392_n.jpg?_nc_cat=104&ccb=1-5&_nc_sid=a26aad&_nc_eui2=AeEFv85IWgGzB9BFCLQ4DdOlkt-pJ20t1ceS36knbS3Vx0Ag2WAi36G9P3SULND9U47qAddGkbvuyvBVGRtMAQXE&_nc_ohc=VjScdwl89rYAX9E-dAR&_nc_ht=scontent.fkdt1-1.fna&oh=00_AT9d36dlN_YXfrbblDZFU-VhZTgkKt01s_7-3dV67taKSA&oe=61DBF825">

          <div class="card-body">
            <p class="card-text">เค้กเนื้อวากิว</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">$ราคา 890 บาท</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="https://scontent.fkdt1-1.fna.fbcdn.net/v/t1.6435-9/168819241_4106007456133227_5213389041970757161_n.jpg?_nc_cat=110&ccb=1-5&_nc_sid=a26aad&_nc_eui2=AeGO7fbRyuGBk6TF8eHgWyiDS_sezCNukhJL-x7MI26SElZcsf12Us6KPlZ8JEaMhdMfYRgHaLD5wS9DN-8S2FXg&_nc_ohc=5haiBAtiOGwAX_V4rgq&_nc_ht=scontent.fkdt1-1.fna&oh=00_AT9C94AGbuEaCgZmnG75IPT2Rx84Yf3XmbnMbhCNnVNepw&oe=61DCFE7D">

          <div class="card-body">
            <p class="card-text">เค้กโต๊ะสนุ๊ก</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">$ราคา 890 บาท</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="https://scontent.fkdt1-1.fna.fbcdn.net/v/t1.6435-9/125541675_3732481333485843_7314186216626116077_n.jpg?_nc_cat=109&ccb=1-5&_nc_sid=a26aad&_nc_eui2=AeHgTcKxQfdaKHxI-3QVPaG0zH8BK8COrSnMfwErwI6tKchwmKjRoG8F_ba6cK3YpWhSVzoA0Rb5fgFBuC62lOcn&_nc_ohc=eCloLFl_reoAX9uZcln&_nc_oc=AQnzTRTZon7AjCOQ6HbRWJJr4GYTquaIaUbkhEso6FA9Po7MWfM-XVcwU8ih4FURG42RDMJdR_nFN-GOpgBzWg8P&tn=KVS5SoajANyxm69Z&_nc_ht=scontent.fkdt1-1.fna&oh=c9c48922bc293106a08b7dc8c032a213&oe=61DD0709">

          <div class="card-body">
            <p class="card-text">Peppa Pig Cake</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">$ราคา 990 บาท</small>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
        <footer class="py-5">
          <div class="row">
            <div class="col-2">
              <h5>Section</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">Home</a></li>
                <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">FruitCake</a></li>
                <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">NormalCake</a></li>
                <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">ChocolateCake</a></li>
                <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">MiniCake</a></li>
                <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">FancyCake</a></li>
                <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">Contact</a></li>
              </ul>
            </div>
      
            <div class="col-2">
              <h5>Section</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">Home</a></li>
                <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">FruitCake</a></li>
                <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">NormalCake</a></li>
                <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">ChocolateCake</a></li>
                <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">MiniCake</a></li>
                <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">FancyCake</a></li>
                <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">Contact</a></li>
              </ul>
            </div>
      
            <div class="col-2">
              <h5>Section</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">Home</a></li>
                <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">FruitCake</a></li>
                <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">NormalCake</a></li>
                <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">ChocolateCake</a></li>
                <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">MiniCake</a></li>
                <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">FancyCake</a></li>
                <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">Contact</a></li>
              </ul>
            </div>
      
            <div class="col-4 offset-1">
              <form>
                <h5>Subscribe to our newsletter</h5>
                <p>Monthly digest of whats new and exciting from us.</p>
                <div class="d-flex w-100 gap-2">
                  <label for="newsletter1" class="visually-hidden">Email address</label>
                  <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
                  <button class="btn btn-primary" type="button">Subscribe</button>
                </div>
              </form>
            </div>
          </div>
      
          <div class="d-flex justify-content-between py-4 my-4 border-top">
            <p>&copy; 2021 Patchareeporn T.</p>
            <ul class="list-unstyled d-flex">
              <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"/></svg></a></li>
              <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"/></svg></a></li>
              <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg></a></li>
            </ul>
          </div>
        </footer>
      </div>

</div>