<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Athiti:wght@400;500;700&family=IBM+Plex+Sans+Thai:wght@200;400&family=K2D:wght@300&family=Mitr:wght@200&family=Noto+Serif+Thai:wght@400;700&display=swap" rel="stylesheet">
<style>
  p{
    font-family: 'Athiti', sans-serif;
  }
  button{
    font-family: 'Athiti', sans-serif;
  }
  section{
    font-family: 'Athiti', sans-serif;
  }
  small{
    font-family: 'Athiti', sans-serif;
  }
</style>
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">

    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">เค้กมินิมอล ChocolateCake</h1>
          <p class="lead text-muted">เค้กสูตรโฮมเมด ปรับปรุงสูตรจนอร่อยไม่เหมือนใครเค้กของเราหวานน้อย และคัดสรรวัตถุดิบจากธรรมชาติไม่มีสารเสริมและไขมันทรานส์ จึงมั่นใจได้ว่าคุณจะได้มอบของขวัญที่ดีที่สุด</p>
        </div>
      </div>
    </section>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card shadow-sm">
          <img src="https://scontent.fkdt1-1.fna.fbcdn.net/v/t39.30808-6/240895981_2585868115043070_6606694707652790587_n.jpg?_nc_cat=100&ccb=1-5&_nc_sid=a26aad&_nc_eui2=AeECoS1c8I75lSGdE0kkCGFMyIOSiYv8NW3Ig5KJi_w1bX1kkHeJE4QoQcIUtl1o5WjpNUIksOSORn5HP3bKRD8F&_nc_ohc=ieFymfBOOigAX88OEiL&_nc_ht=scontent.fkdt1-1.fna&oh=00_AT-ddUa6t-dWZ3op4ycvGdSVEpe6zJSub2tdNEgCuAl6TA&oe=61BC348C">

          <div class="card-body">
            <p class="card-text">Flourless Chocolate Cake</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">$ราคา 1 ปอนด์ 950 บาท</small>
             </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="https://scontent.fkdt1-1.fna.fbcdn.net/v/t39.30808-6/240885711_2585199358443279_2811202564040197138_n.jpg?_nc_cat=104&ccb=1-5&_nc_sid=a26aad&_nc_eui2=AeHwNfmGL0St7uAWF6dhSo2g5hC52jkJYmXmELnaOQliZRjSzhdnh-Z9mVXC4Ih8U2w2pAanv97CxQv9ytLMQNcg&_nc_ohc=wXZrYh5WeAAAX9AgCmN&_nc_ht=scontent.fkdt1-1.fna&oh=86ad7101c390dc1536350d7b57fee7ca&oe=61BC364B">

          <div class="card-body">
            <p class="card-text">Happy Day Cake</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">$ราคา 1 ปอนด์ 900 บาท</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="https://scontent.fkdt1-1.fna.fbcdn.net/v/t39.30808-6/p843x403/240735144_2583470031949545_7073966553282879912_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=a26aad&_nc_eui2=AeF8DMQ18uLQqfJAuNq0Mqph-4hR2aqjZ-b7iFHZqqNn5nEWPPpgCTTCGUuclQQ-han42nRH_Q9FhOA7eiRmNZyh&_nc_ohc=ebJKx-bHzX0AX--T3jK&tn=KVS5SoajANyxm69Z&_nc_ht=scontent.fkdt1-1.fna&oh=54b43592d5e34959b690ecff29282d02&oe=61BCA9D5">

          <div class="card-body">
            <p class="card-text">ChocolateCake</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">$ราคา 1 ปอนด์ 850 บาท</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img src="https://scontent.fkdt1-1.fna.fbcdn.net/v/t39.30808-6/p843x403/231086328_2568146753481873_8683649258706402129_n.jpg?_nc_cat=109&ccb=1-5&_nc_sid=a26aad&_nc_eui2=AeGAlQoEM8Zcem_j0bj1bQAGj5ImBITg15qPkiYEhODXmgMluZ8sQXEdKMxEbtxuhSFawb5LC1OCNBXPpHsoXLoS&_nc_ohc=MjfWmDWKRZgAX8Ez6ED&_nc_ht=scontent.fkdt1-1.fna&oh=00_AT8mx3o2M1J3sGuozNtFoSQY8NvR7QGWVldEbt4rDLfA4g&oe=61BBEC5C">

          <div class="card-body">
            <p class="card-text">Premium Chocolate Cake</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">$ราคา 1 ปอนด์ 850 บาท</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="https://scontent.fkdt1-1.fna.fbcdn.net/v/t39.30808-6/230177201_2567793550183860_5709347295254747777_n.jpg?_nc_cat=104&ccb=1-5&_nc_sid=a26aad&_nc_eui2=AeHAXy9mJSyWTjYu_noaKOcXZkaNuDLDs-tmRo24MsOz67837CMoDS6nrp90SqbNO9XHyFu5Bj3b9B1i-hclSHqS&_nc_ohc=loqL09xPWA8AX9nccDu&_nc_ht=scontent.fkdt1-1.fna&oh=d0dd079ac535c5107eeac56deabed0b1&oe=61BCF81C">

          <div class="card-body">
            <p class="card-text">Premium Chocolate Cake With Extra Granola</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">$ราคา 1 ปอนด์ 850 บาท</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="https://scontent.fkdt1-1.fna.fbcdn.net/v/t39.30808-6/217162508_2552997294996819_5066251638828891713_n.jpg?_nc_cat=106&ccb=1-5&_nc_sid=a26aad&_nc_eui2=AeHdj4ufdk9JvVvkrMQAODgIwxyp1mGoh-jDHKnWYaiH6KaYz8SMiQffpVLag2dI4CZ-SL4F2tEYy9SpcHnlcp77&_nc_ohc=2RG5RS4uH0EAX-o2OKK&_nc_ht=scontent.fkdt1-1.fna&oh=d22a5a679a080b42789f90e6ab8aa888&oe=61BC7067">

          <div class="card-body">
            <p class="card-text">Flourless Chocolate Cake </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">$ราคา 950 + ธง 70 บาท</small>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col">
        <div class="card shadow-sm">
          <img src="https://scontent.fkdt1-1.fna.fbcdn.net/v/t39.30808-6/p843x403/215174102_2550267045269844_5386106143643476752_n.jpg?_nc_cat=108&ccb=1-5&_nc_sid=a26aad&_nc_eui2=AeEckpHzoEJPpOFO6bMB_MO6jG_5RKlqvDyMb_lEqWq8PAwv80T2oLvXJFqQFwt5lFqmZQTbxbiXszmGxjybbdjL&_nc_ohc=VOEZ3DR-8S4AX8yer1E&tn=KVS5SoajANyxm69Z&_nc_ht=scontent.fkdt1-1.fna&oh=00_AT_Sd5UzVLuYcD9CNxoBxpVMqfrZNly369vwxx7asj4brQ&oe=61BD43FD">

          <div class="card-body">
            <p class="card-text">Happy Day Chocolate Cake</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">$ราคา 1 ปอนด์ 900 ธง + 150 บาท</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="https://scontent.fkdt1-1.fna.fbcdn.net/v/t1.6435-9/203123679_2538244103138805_7556353656582272788_n.jpg?_nc_cat=104&ccb=1-5&_nc_sid=a26aad&_nc_eui2=AeHbjZozAzGDb5uFcuD2p00y8rsFvMTqi_jyuwW8xOqL-K0WtxxhsNhrfkYGzRcGTRsQ-SnHeAhYx4zIlQfH0N3V&_nc_ohc=AbpgaLyQZNgAX-FFYHf&tn=KVS5SoajANyxm69Z&_nc_ht=scontent.fkdt1-1.fna&oh=7bbdebbfc495a24ebed35eedb42b6454&oe=61DE5F0B">

          <div class="card-body">
            <p class="card-text">Yummy Chocolate Cake</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">$ราคา 1 ปอนด์ 900 บาท</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="https://scontent.fkdt1-1.fna.fbcdn.net/v/t1.6435-9/202383862_2537627483200467_1350725427769171455_n.jpg?_nc_cat=104&ccb=1-5&_nc_sid=a26aad&_nc_eui2=AeHr6tROqOwPUyAvfqc0TWVMsrMkKSNjoxqysyQpI2OjGizVb1x8ZpoJLH0FoglpyC9mUeTKHgcVsCCvSOVcN4s4&_nc_ohc=rGTtyeCSLqwAX8WgvbY&tn=KVS5SoajANyxm69Z&_nc_ht=scontent.fkdt1-1.fna&oh=256c496dd5d2f97e4a51d1709ab95a8a&oe=61DDF808">

          <div class="card-body">
            <p class="card-text">Coco chocolate cake</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">$ราคา 1 ปอนด์ 900 บาท</small>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
        <footer class="py-5">
          <div class="row">
            <div class="col-2">
              <h5>Section</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">Home</a></li>
                <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">FruitCake</a></li>
                <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">NormalCake</a></li>
                <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">ChocolateCake</a></li>
                <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">MiniCake</a></li>
                <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">FancyCake</a></li>
                <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">Contact</a></li>
              </ul>
            </div>
      
            <div class="col-2">
              <h5>Section</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">Home</a></li>
                <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">FruitCake</a></li>
                <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">NormalCake</a></li>
                <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">ChocolateCake</a></li>
                <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">MiniCake</a></li>
                <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">FancyCake</a></li>
                <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">Contact</a></li>
              </ul>
            </div>
      
            <div class="col-2">
              <h5>Section</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">Home</a></li>
                <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">FruitCake</a></li>
                <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">NormalCake</a></li>
                <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">ChocolateCake</a></li>
                <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">MiniCake</a></li>
                <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">FancyCake</a></li>
                <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">Contact</a></li>
              </ul>
            </div>
      
            <div class="col-4 offset-1">
              <form>
                <h5>Subscribe to our newsletter</h5>
                <p>Monthly digest of whats new and exciting from us.</p>
                <div class="d-flex w-100 gap-2">
                  <label for="newsletter1" class="visually-hidden">Email address</label>
                  <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
                  <button class="btn btn-primary" type="button">Subscribe</button>
                </div>
              </form>
            </div>
          </div>
      
          <div class="d-flex justify-content-between py-4 my-4 border-top">
            <p>&copy; 2021 Patchareeporn T.</p>
            <ul class="list-unstyled d-flex">
              <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"/></svg></a></li>
              <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"/></svg></a></li>
              <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg></a></li>
            </ul>
          </div>
        </footer>
      </div>

</div>