<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Athiti:wght@400;500;700&family=IBM+Plex+Sans+Thai:wght@200;400&family=K2D:wght@300&family=Mitr:wght@200&family=Noto+Serif+Thai:wght@400;700&display=swap" rel="stylesheet">
<style>
  p{
    font-family: 'Athiti', sans-serif;
  }
  button{
    font-family: 'Athiti', sans-serif;
  }
  section{
    font-family: 'Athiti', sans-serif;
  }
  small{
    font-family: 'Athiti', sans-serif;
  }
</style>
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">

    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">เค้กมินิมอล NormalCake</h1>
          <p class="lead text-muted">เค้กสูตรโฮมเมด ปรับปรุงสูตรจนอร่อยไม่เหมือนใครเค้กของเราหวานน้อย และคัดสรรวัตถุดิบจากธรรมชาติไม่มีสารเสริมและไขมันทรานส์ จึงมั่นใจได้ว่าคุณจะได้มอบของขวัญที่ดีที่สุด</p>
        </div>
      </div>
    </section>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card shadow-sm">
          <img src="https://scontent.fkdt1-1.fna.fbcdn.net/v/t39.30808-6/262431074_2647815162181698_1835226251037727600_n.jpg?_nc_cat=100&ccb=1-5&_nc_sid=a26aad&_nc_eui2=AeHFla4yIOWQg3D5KibPsRPOuS4FShHw5SW5LgVKEfDlJQ3NLdODGUXhvcfBiERSTsO5G302chzwwoT1TD1E26r1&_nc_ohc=uCgH7kYzJXMAX82WVwL&_nc_ht=scontent.fkdt1-1.fna&oh=f78e5da6deb985e8ca2e9943246a34d6&oe=61BBC19A">

          <div class="card-body">
            <p class="card-text">In The Sea </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">$ราคา Butter Cake 1P = 1,000 บาท</small>
             </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="https://scontent.fkdt1-1.fna.fbcdn.net/v/t39.30808-6/241490860_2637302386566309_6522395819837385014_n.jpg?_nc_cat=107&ccb=1-5&_nc_sid=a26aad&_nc_eui2=AeG7ffb0KD3KvnRHjMjsBpEMr6G0GNjvMZqvobQY2O8xmlvCCJsRCwrDfRuvr89Tm1dXhvVvetDSSE0smNoE5IqU&_nc_ohc=W_Jv4Wteyb4AX9P1Tjw&_nc_ht=scontent.fkdt1-1.fna&oh=164e810953d5c7ddfb2ee979535d877c&oe=61BBEDC8">

          <div class="card-body">
            <p class="card-text">My Mom Day</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">$ราคา Butter Cake 1P = 950 บาท</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="https://scontent.fkdt1-1.fna.fbcdn.net/v/t39.30808-6/252362481_2631999803763234_7895957139610656417_n.jpg?_nc_cat=105&ccb=1-5&_nc_sid=a26aad&_nc_eui2=AeFTk_zfab0VPNVFeXXWXilVngJ1MzIahkSeAnUzMhqGRJIsqXPq26uV3YtWWbQlpsQFCgZ4AEoklzezWKtqS7Gz&_nc_ohc=SDuj9eUlE_4AX_Bb7wA&_nc_ht=scontent.fkdt1-1.fna&oh=e7225d269da4e1d072880c52953b7f29&oe=61BB66A1">

          <div class="card-body">
            <p class="card-text">White Cake</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">$ราคา Butter Cake 1P = 950 บาท</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img src="https://scontent.fkdt1-1.fna.fbcdn.net/v/t39.30808-6/247238486_2631999550429926_2108551763568496115_n.jpg?_nc_cat=110&ccb=1-5&_nc_sid=a26aad&_nc_eui2=AeFWp7Zmm8Nm3Ugh1qB3Y8CnpO1kt4BF7C-k7WS3gEXsLzBxTd4aHO6Udmz00BKu0gguD4iMSXrxMt27Od5SGCak&_nc_ohc=eEx3imSDBl0AX9wtek2&tn=KVS5SoajANyxm69Z&_nc_ht=scontent.fkdt1-1.fna&oh=6bac1ed73779cefbc07759f85be9c158&oe=61BCC095">

          <div class="card-body">
            <p class="card-text">Pastel On</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">$ราคา Butter Cake 1P = 950 บาท</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="https://scontent.fkdt1-1.fna.fbcdn.net/v/t39.30808-6/253761946_2631977677098780_4472570751712251843_n.jpg?_nc_cat=104&ccb=1-5&_nc_sid=a26aad&_nc_eui2=AeE-8H-ZIz6GBSP67DqMp-zhJ-zh1t5BJNsn7OHW3kEk21-vm8ldo3NbfSZ3o5Zvcde7h8uxItGwjf4oPwP9t737&_nc_ohc=5mD7s4tqxTcAX9wEcmM&_nc_ht=scontent.fkdt1-1.fna&oh=3fe8d1582b62cb46a40fa78d37bc7fb1&oe=61BD4A78">

          <div class="card-body">
            <p class="card-text">Meow Normal</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">$ราคา Butter Cake 1P = 950 บาท</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="https://scontent.fkdt1-1.fna.fbcdn.net/v/t39.30808-6/244425160_2611828515780363_3317882089375699087_n.jpg?_nc_cat=100&ccb=1-5&_nc_sid=a26aad&_nc_eui2=AeEJcZO2SY_a00DbaiBJrNWvvkP3pwlE1lC-Q_enCUTWUPk4qmKETB69dfsEn3hJTTbb-uYlnNrCXgZOqzpbMYFN&_nc_ohc=mGpTzX1mYJUAX-ue0sV&_nc_ht=scontent.fkdt1-1.fna&oh=ca7519aae48f972214628403dad2a9ff&oe=61BCDDC6">

          <div class="card-body">
            <p class="card-text">Tantawan Normal</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">$ราคา Butter Cake 1P = 950 บาท</small>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col">
        <div class="card shadow-sm">
          <img src="https://scontent.fkdt1-1.fna.fbcdn.net/v/t39.30808-6/244318297_2607830956180119_1349593305580727131_n.jpg?_nc_cat=103&ccb=1-5&_nc_sid=a26aad&_nc_eui2=AeFW3e494kDGx8EuwHytuEfihrdU5oEYZdSGt1TmgRhl1OfBMX4uZFcXTnMYvQHez2zWARl4EjPy4PAyDMjQfYMH&_nc_ohc=RoYohXU2_PAAX8VrkIu&_nc_ht=scontent.fkdt1-1.fna&oh=393cf0ffd608c9008fe2b866ba93d62a&oe=61BC209F">

          <div class="card-body">
            <p class="card-text">Pastel Normal</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">$ราคา Butter Cake 1P = 950 บาท</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="https://scontent.fkdt1-1.fna.fbcdn.net/v/t39.30808-6/241208406_2607241512905730_4537677493538036877_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=a26aad&_nc_eui2=AeEqDIYUI4EMcabgyhq-lSfDG_eh2llEWBwb96HaWURYHOYeSwP2Sg408R0OKNN9KL5YayZJvQsNxowlFcyAY8VO&_nc_ohc=2DztJOSxoCIAX9B2coU&_nc_ht=scontent.fkdt1-1.fna&oh=00_AT-Z6wYRPQgjDX06PCCgdtFb8Ky-USRf9SMTu62zcC47cg&oe=61BB8B6A">

          <div class="card-body">
            <p class="card-text">Cutie Pastel </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">$ราคา Butter Cake 1P = 950 บาท</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="https://scontent.fkdt1-1.fna.fbcdn.net/v/t39.30808-6/p843x403/241140427_2588712598091955_4517658043832343760_n.jpg?_nc_cat=100&ccb=1-5&_nc_sid=a26aad&_nc_eui2=AeEnj96Gq4SPurowxMWKoZzu6zkm8sYPotLrOSbyxg-i0tV9X-x76JDq5GyQE9ScUsu5w6Ev6koIQDCJDbgv27x7&_nc_ohc=hrW1yNQJYuAAX_Uy34N&_nc_ht=scontent.fkdt1-1.fna&oh=9c407b04427f720616a3eeff5257fe95&oe=61BC01CF">

          <div class="card-body">
            <p class="card-text">Normal Cake</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">$ราคา Butter Cake 1P = 950 บาท</small>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
        <footer class="py-5">
          <div class="row">
            <div class="col-2">
              <h5>Section</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">Home</a></li>
                <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">FruitCake</a></li>
                <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">NormalCake</a></li>
                <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">ChocolateCake</a></li>
                <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">MiniCake</a></li>
                <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">FancyCake</a></li>
                <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">Contact</a></li>
              </ul>
            </div>
      
            <div class="col-2">
              <h5>Section</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">Home</a></li>
                <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">FruitCake</a></li>
                <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">NormalCake</a></li>
                <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">ChocolateCake</a></li>
                <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">MiniCake</a></li>
                <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">FancyCake</a></li>
                <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">Contact</a></li>
              </ul>
            </div>
      
            <div class="col-2">
              <h5>Section</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">Home</a></li>
                <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">FruitCake</a></li>
                <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">NormalCake</a></li>
                <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">ChocolateCake</a></li>
                <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">MiniCake</a></li>
                <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">FancyCake</a></li>
                <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">Contact</a></li>
              </ul>
            </div>
      
            <div class="col-4 offset-1">
              <form>
                <h5>Subscribe to our newsletter</h5>
                <p>Monthly digest of whats new and exciting from us.</p>
                <div class="d-flex w-100 gap-2">
                  <label for="newsletter1" class="visually-hidden">Email address</label>
                  <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
                  <button class="btn btn-primary" type="button">Subscribe</button>
                </div>
              </form>
            </div>
          </div>
      
          <div class="d-flex justify-content-between py-4 my-4 border-top">
            <p>&copy; 2021 Patchareeporn T.</p>
            <ul class="list-unstyled d-flex">
              <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"/></svg></a></li>
              <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"/></svg></a></li>
              <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg></a></li>
            </ul>
          </div>
        </footer>
      </div>

</div>